<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.orderfood.dao.OrderFoodInfoMapper">
    <insert id="insertOrderFoodInfo">
        insert into orderfoodinfo (orderno, foodno, foodamount, price, notes)
        values
        <foreach collection="list" item="foodInfo" separator=",">
            (#{infoMap.orderno}, #{foodInfo.foodno}, #{foodInfo.foodamount}, #{foodInfo.price}, #{foodInfo.notes})
        </foreach>
    </insert>

    <delete id="deleteOrderFoodInfo">
        delete from orderfoodinfo where orderno = #{orderno}
    </delete>

    <delete id="deleteOrderFoodInfoByNos">
        delete from orderfoodinfo where orderno in (
        <foreach collection="ordernos" item="orderno" separator=",">
            #{orderno}
        </foreach>
        )
    </delete>
</mapper>